@charset "UTF-8";

@font-face {
	font-family: 'BebasNeue';
	src: url("../images/BebasNeue.otf");
	font-family: 'NanumSquareRound';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
	font-size: 1rem;
}

header {
	border : none;
	font-family: 'BebasNeue', 'NanumSquareRound';
	background-color: black;
	color: white;
	top: 0px;
	left: 0px;
	padding: 10px 45px;
	position: fixed;
	z-index: 100;
}

li {
	text-align : left;
	font-family: 'BebasNeue', 'NanumSquareRound';
}
#cursor{
	float:right;
	margin-top:20%;
}

#logo {
	top: 0px;
	left: 0px;
	padding: 10px 45px 10px 45px;
	background-color: black;
	z-index: 20;
}

.sub-menu-parent {
	text-align: left;
	color: white;
	background-color: black;
	margin-right: 25px;
	padding: 10px 10px 10px 45px;
	text-decoration: none;
	list-style: none;
	position: relative;
	float: right;
	color: white;
}

.sub-menu {
	padding : 10px;
	text-align: left;
	background-color: black;
	color: white;
	float: right;
	list-style: none;
	visibility: hidden; /* hides sub-menu */
	opacity: 0;
	position: absolute;
	top:80%;
	left: 0;
	width: 100%;
	transform: translateY(-2em);
	z-index: -1;
	transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index
		0s linear 0.01s;
}
a{
	padding: 10px;
	text-decoration: none;
	color: white;
}
a:hover{
		text-decoration : underline;
}
.sub-menu-parent:focus .sub-menu, .sub-menu-parent:focus-within .sub-menu,
	.sub-menu-parent:hover .sub-menu {

	padding : 10px;
	text-align: left;
	background-color: black;
	color: white;
	visibility: visible; /* shows sub-menu */
	opacity: 1;
	z-index: 1;
	transform: translateY(0%);
	transition-delay: 0s, 0s, 0.3s;
}

