<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css"/>
<link rel="stylesheet" type="text/css" href="../stylesheets/footer/footer.css" />
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
	<!-- Footer -->
	<footer id="footer" style="position: fixed;">
		<ul class="icons">
			<li><a href="https://ko-kr.facebook.com/NetflixKR/">
				<i class="fab fa-facebook-f">&nbsp;Facebook&nbsp;</i></a></li>
			<li><a href="">
				<i class="fab fa-twitter-square">&nbsp;Twitter&nbsp;</i></a></li>
			<li><a href="https://www.instagram.com/netflixkr/?hl=ko">
				<i class="fab fa-instagram">&nbsp;Instagram&nbsp;</i></a></li>
		</ul>
		<div class="footerbox">
			<p class="copyright">
				<a href="#">고객 센터 </a><br><br>
				&copy; 웹플렉스서비시스코리아 &nbsp; 유한회사 &nbsp; 통신판매업신고번호: 제xxxx-서울종로-xxxx호<br><br>
				대표: 이용준<br> 이메일 주소: korea@webflex.com<br>
				주소: 서울 동작구 장승배기로 171 2층, 3층<br>
				클라우드 호스팅: Amazon Web Services Inc.
			</p>
		</div>
	</footer>
</body>
</html>